*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*utility*/

body{
    font-family: Open Sans, sans-serif;
}


.btn{
    background-color: blue;
    color: white;
    padding: 10px 15px;
}


.btn:hover{
    background-color: aqua;

}


a{
    text-decoration: none;
    color: #151515;
}


li{
    list-style: none;
}


/*Header*/

.navbar-wrap{
    background-color: white;
    position: fixed;
    z-index: 100;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.navbar-content{
    margin: 0 30px;
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}



.navbar-wrap ul{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}



.navbar-wrap .btn{
    padding: 5px 15px;
}